{% extends "layout.html" %}

{% block main %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h2>Change your email address/name</h2>
                <form action="/account/change-name" method="post" autocomplete="off">
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" name="user_email" id="user_email"
                             placeholder="name@example.com" value="{{ account_values[0] }}">
                      <label for="floatingInput">Your email address</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="user_name" id="user_name"
                             placeholder="Name" value="{{ account_values[1] }}">
                      <label for="floatingInput">Your name</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" name="user_password_n"
                             id="user_password_n" placeholder="Password" required>
                      <label for="floatingPassword">Please, enter your current password to confirm changes</label>
                    </div>
                    <button class="btn btn-primary" type="submit">Change</button>
                </form>
                <br><br>
                <h2>Change your password</h2>
                <form action="/account/change-password" method="post" autocomplete="off">
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" name="user_password_new"
                             id="user_password_new" placeholder="Password"
                             pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                             title="Must contain at least one number, one letter, one special character [@$!%*#?&] and
                             minimum 8 characters overall" required>
                      <label for="floatingPassword">Your new password</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" name="user_password_new_confirmation"
                             id="user_password_new_confirmation" placeholder="Password Confirmation"
                             pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                             title="Must contain at least one number, one letter, one special character [@$!%*#?&] and
                             minimum 8 characters overall" required>
                      <label for="floatingPassword">Please, confirm your new password</label>
                    </div>
                        <div class="form-floating mb-3">
                          <input type="password" class="form-control" name="user_password_p"
                                 id="user_password_p" placeholder="Password" required>
                          <label for="floatingPassword">Please, enter your current password to confirm changes</label>
                        </div>
                    <button class="btn btn-primary" type="submit">Change</button>
                </form>
                <br><br>
                <h2>Delete your account</h2>
                <div class="form-floating mb-3">
                    <button type="button" class="btn btn-danger" name="delete_account" id="delete_account"
                    >Delete</button>
                </div>
                <form action="/account/delete" method="post" autocomplete="off" name="f_delete_account" id="f_delete_account">
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" name="user_password_d"
                             id="user_password_d" placeholder="Password" required>
                      <label for="floatingPassword">Please, enter your current password to delete your account</label>
                    </div>
                    <button type="submit" class="btn btn-danger">Delete permanently</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}